.results {
    height: 600px;
    width: 670px;
    margin-right: 4px;
    padding-top: 50px;
    padding-left: 600px;
    border-right-width: 2px;
    border-left-width: 1px;
}
.search h2 {
    font-family: 'sans-serif', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222;
    margin: 0;
}